.Docks {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: darkgreen;
  position: center;
  background-color: lightgray;
}

.Docks_Green {
  border: 1px solid #8d97d0;
  border-radius: 0 5px 5px 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: darkgreen;
  position: center;
  background-color: lightgreen;
}

.Docks_Form {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.grid {
  display: grid;
  grid-template-columns: 300px auto;
  grid-gap: 1em;
  width: 100%;
}

@media all and (max-width: 700px) {
  aside,
  article {
    grid-column: 1 / 4;
  }
}

/* Demo Specific Styles */
body {
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
}

aside,
article {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 1em;
}
